<h1>Hello Welcome to VMware Developer Network</h1>

<p>Please <%=link_to "Click here", employees_path %> to view the Employees list!
<br> <br>
Please <%= link_to 'Click here', new_employee_path %> to create a New Employee! 
<br><br>
Find me in app/views/home/index.html.erb</p>
