<h1>Hello Welcome to VMware Developer Network</h1>
<hr>
<div id="nav">
<h1>List of Employees</h1>
<hr>
<% @employees.each do |each_employee| %>
<%= link_to "I am #{each_employee.First_Name}", each_employee %> <br>
<%end%>
</div>
<br><br>

<p align="center">Please <%=link_to "Click here", employees_path %> to view the Employees list!
<br> <br>
Please <%= link_to 'Click here', new_employee_path %> to create a New Employee! 
<br><br>
<!-- Find me in app/views/home/index.html.erb</p> -->

