<!DOCTYPE html>
<html>
<head>
  <style>
h2{
  font-style: cursive;
  text-align: center;
}
table {
  table-layout: auto;
  width:50%;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  background-color: black;
  color:white;
}
#nav {
  //line-height: 300px;
  background-color: PaleGoldenRod;
  height: 800px;
  width: 200px;
  float: right;
  text-align: center;
  font-family: cursive;
  //padding: 5px;
}
  </style>
  <title>Vmdn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #F4A460">
  
<%= yield %>

</body>
</html>
